---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "El Blog de Keiner";
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');

---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<p>Es importante documentar el codigo es algo en lo que pienso que todos (o casi todos) estarán de acuerdo conmigo.</p>
		<p>Aí de la misma forma es importante documentar el proceso. Pues bien, <em>eso</em>  es <em>esto</em></p>
		<p>Por favor no me malentiendas, no soy un <em>Gurú</em> del desarrollo web ni nada por el estilo. Lo que asuí prentendo es compartir mis experiencias y <em>descubrimientos</em> en mi jornada como dev</p>
		<p>Así sin mas introducciones,  eh aquí mi blog</p>
	</div>

	<section>
		<ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
	</section>
</BaseLayout>
