---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>El Blog de Keiner </title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
		</nav>

		<section>

			<h1>Blog</h1>
			<p>Es importante documentar el codigo es algo en lo que pienso que todos (o casi todos) estarán de acuerdo conmigo.</p>
			<p>Aí de la misma forma es importante documentar el proceso. Pues bien, <em>eso</em>  es <em>esto</em></p>
			<p>Por favor no me malentiendas, no soy un <em>Gurú</em> del desarrollo web ni nada por el estilo. Lo que asuí prentendo es compartir mis experiencias y <em>descubrimientos</em> en mi jornada como dev</p>
			<p>Así sin mas introducciones,  eh aquí mi blog</p>
		</section>

		<section>
			<ul>
				<li><a href="/posts/post-1/">Post 1</a></li>
				<li><a href="/posts/post-2/">Post 2</a></li>
      			<li><a href="/posts/post-3/">Post 3</a></li>
			</ul>
		</section>
	</body>
</html>
